mat-toolbar{
    margin-top: 2rem;
    background-color: #e1e1d0;
    height: 50px;
    color: white;
}

span, button, label {    
    font-style: Helvetica;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
}

#headerBtns > button {
    width: 20%;
    margin-left: 20px;
}

.unit-box{
    margin-top: 3rem;
}

#oemBtn{
    background-color: #ffdd99;
}

#customBtn{
    background-color: #ffb31a;
}

.form-body{
    padding-left: 2%;
    border: 1px #e1e1d0 solid;
    padding: 30px;
}

.numberInput{
    height: 30px;
    width: 75%;
    margin-left: -40px;
}

.timeLine{
    padding-top: 10px;
}

#btn-group{
    margin-top: 4rem;
    text-align: center;
}

#btn-group > button{
    margin-left: 20px;
    width: 10%;
}

.unit{
    margin-left: 1rem;
    font-size: 14px;
}

#daylight{
    font-size: 8px;
}

#specialUnit{
    margin-left: 0px;
}

.validation-message{
    color: red;
    margin-left: -25%;
}